<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{../static/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link href="../../static/css/style.css"
          th:href="@{../../static/css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div th:fragment="header">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; height: 130px; background-color: #122b40;">
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

                <a class="navbar-brand" href="#" th:href="@{/dashboard}" style="color: #d9edf7" ><div class="row"><img src="../static/images/school_logo.png" height="100px" width="100px" style="padding: -10px"/> &nbsp; St. Mark's Institute Las Pinas  </div> </a>


        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right" >



            <!-- /.dropdown -->
            <label style="color: #d9edf7" >Logged in as: <span th:value="*{username}"></span> </label>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #d9edf7">
                    <i  style="color: #d9edf7" class="fa fa-user fa-fw"></i><span  style="color: #d9edf7" class="label label-info"></span> <i  style="color: #d9edf7" class="fa fa-caret-down fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#" th:href="@{/logout}"  > <i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse" >
                <ul class="nav" id="side-menu" >
                    <li><a href="" th:href="@{/homepage}"><i class="fa fa-dashboard fa-fw"></i> Homepage</a></li>
                    <li><a href="" th:href="@{/attendanceLogs}"><i class="fa fa-calendar fa-fw"></i> Attendance Logs</a></li>
                    <li><a href="" th:href="@{/messages}"><i class="fa fa-envelope"></i> Messages</a></li>
                    <li><a href="" th:href="@{/settings}"><i class="fa fa-cog"></i> Settings</a></li>
                    <li><a href="" th:href="@{/monitor}"><i class="fa fa-cog"></i> Monitor</a></li>
                    <li><a href="" th:href="@{/getStudent}"><i class="fa fa-cog"></i> Add Student</a></li>
                    <li><a href="" th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
</div>
</body>
</html>