<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>AquaJMT | Profile </title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        </div>
    </div>
</div>


<div class="container-fluid">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                 <h1 class="page-header">Add Student</h1>
            </div>
        <!-- /.col-lg-12 -->
        </div>
         <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                         You can add Student Details here.
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form  role="form" th:object="${student}" th:action="@{/addStudent}" method="post">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input class="form-control" placeholder="First Name" th:field="*{firstName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input class="form-control" placeholder="Last Name" th:field="*{lastName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Middle Name</label>
                                        <input class="form-control" placeholder="Middle Name" th:field="*{middleName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Birthdate</label>
                                        <input type="date" class="form-control" placeholder="BirthDate" th:field="*{bday}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Birth place</label>
                                        <input class="form-control" placeholder="BirthPlace" th:field="*{place}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Male</label>
                                        <input type="radio" name="gender" th:value="0"/>
                                        <label>Female</label>
                                        <input type="radio" name="gender" th:value="1"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Citizenship</label>
                                        <input  class="form-control" placeholder="Citizenship" th:field="*{citizenship}" />
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input class="form-control" placeholder="Student Address" th:field="*{address}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Contact Number</label>
                                        <input class="form-control" placeholder="Contact Number" th:field="*{contactNo}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Tap Card</label>
                                        <input class="form-control" placeholder="Please Tap Card Once" th:field="*{rfid}"/>
                                    </div>
                                    <button th:type="submit" class="btn btn-success btn-lg">Save</button>
                                </form>
                            </div>
                        <!-- /.col-lg-6 (nested) -->
                            <div class="col-lg-6">
                                <form role="form">


                                    <h5><label><i class="glyph-icon icon-paperclip" style="color: black"></i>Upload Picture</label></h5>
                                    <input class="form-control"  id="files-upload" type="file" style=" "/>


                                    <button type="submit" class="btn btn-success btn-lg">Upload Photo</button>
                                </form>
                            </div>
                        <!-- /.col-lg-6 (nested) -->
                        </div>
                    <!-- /.row (nested) -->
                    </div>
                <!-- /.panel-body -->
                </div>
            <!-- /.panel -->
            </div>
        <!-- /.col-lg-12 -->
         </div>
    <!-- /.row -->
    </div>
</div>
</body>
</html>