<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>
<div class="top-design">
    <img src="../static/images/school_logo.png" class="image-logo"/>
</div>
<div class="user-image">
    <img src="../static/images/expeni.png" class="image-user"/>
    <center><h3 style="margin-top: 10px;">USER</h3></center>
    <div class="left-design">
        <ul class="ul-design">
            <li class="li-design"><a href="">Home</a></li>
            <li class="li-design"><a href="">Attendance Logs</a></li>
            <li class="li-design"><a href="">Messages</a></li>
            <li class="li-design"><a href="">Settings</a></li>
            <li class="li-design"><a href="">Logout</a></li>
        </ul>
    </div>

</div>

<div class="main-design">
    <h3 style="margin-left: 40px;"> Welcome User</h3>
    <hr class="hr-thickness">
    <h4 style="margin-left: 40px;">Announcement</h4>

</div>


</body>
</html>