<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student Monitoring System Login Page</title>
    <link rel="stylesheet" href="../static/css/login.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.css"/>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <div class="panel">
        <fieldset class="border" style="height: 60%; width: 40%; margin-left: 25%; margin-top: 10%; position: relative">
            <form th:object="${user}" th:action="@{/loginUser}" method="POST">
                <h3 style="margin-left: 2%">Login Page</h3>
                <div class="form-group">

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <input type="text" class="text-login" size="50" placeholder="UserName">

                    <input type="text" class="text-login" size="50" placeholder="Password">

                    <input type="submit" style="margin-top: 2%; margin-left: 5%" value="Login">


                </div>
            </form>
        </fieldset>

    </div>
</div>


</body>
</html>