<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capstone.jmt.mapper.CustomerMapper">
    
    <resultMap id="customerInfoMap" type="com.capstone.jmt.data.CustomerInfo">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="firstName" property="firstName" jdbcType="VARCHAR" />
        <result column="lastName" property="lastName" jdbcType="VARCHAR" />
        <result column="middleName" property="middleName" jdbcType="VARCHAR" />
        <result column="cellphoneNo" property="cellphoneNo" jdbcType="VARCHAR" />
        <result column="landline" property="landline" jdbcType="VARCHAR" />
        <result column="createdOn" property="createdOn" jdbcType="VARCHAR" />
        <result column="updatedOn" property="updatedOn" jdbcType="VARCHAR" />
    </resultMap>
    
    <resultMap id="customerLocationMap" type="com.capstone.jmt.data.CustomerLocation">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="longitude" property="longitude" jdbcType="FLOAT" />
        <result column="latitude" property="latitude" jdbcType="FLOAT" />
        <result column="createdOn" property="createdOn" jdbcType="VARCHAR" />
        <result column="updatedOn" property="updatedOn" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getAllCustomers" resultMap="customerInfoMap" resultType="java.util.List">
        SELECT * FROM customerInfo
    </select>

    <select id="getCustomerInfoById" resultType="com.capstone.jmt.data.CustomerInfo">
        SELECT * FROM customerInfo WHERE id = #{id}
    </select>

    <select id="getCustomerLocationById" resultType="com.capstone.jmt.data.CustomerLocation">
        SELECT * FROM customerLocation WHERE id = #{id}
    </select>

    <select id="getCustomerNameById" resultType="java.lang.String">
        SELECT
        lastname || ', ' || firstname || ' ' || coalesce(middlename)
        FROM customerInfo
        WHERE id = #{id}
    </select>
    
    <insert id="addCustomerInfo" parameterType="com.capstone.jmt.data.CustomerInfo">
        INSERT INTO customerInfo
        (id,
        username,
        password,
        email,
        firstName,
        lastName,
        middleName,
        cellphoneNo,
        landline)
        VALUES
        (#{customer.id, jdbcType=VARCHAR},
        #{customer.username, jdbcType=VARCHAR},
        #{customer.password, jdbcType=VARCHAR},
        #{customer.email, jdbcType=VARCHAR},
        #{customer.firstName, jdbcType=VARCHAR},
        #{customer.lastName, jdbcType=VARCHAR},
        #{customer.middleName, jdbcType=VARCHAR},
        #{customer.cellphoneNo, jdbcType=VARCHAR},
        #{customer.landline, jdbcType=VARCHAR})
    </insert>

    <update id="updateCustomerInfo" flushCache="true">
        UPDATE customerInfo
        SET
        username = #{customer.username, jdbcType=VARCHAR},
        password = #{customer.password, jdbcType=VARCHAR},
        email = #{customer.email, jdbcType=VARCHAR},
        firstName = #{customer.firstName, jdbcType=VARCHAR},
        lastName = #{customer.lastName, jdbcType=VARCHAR},
        middleName = #{customer.middleName, jdbcType=VARCHAR},
        cellphoneNo = #{customer.cellphoneNo, jdbcType=VARCHAR},
        landline = #{customer.landline, jdbcType=VARCHAR}
        WHERE
        id = #{customer.id, jdbcType=VARCHAR}
    </update>

    <insert id="addCustomerLocation" parameterType="com.capstone.jmt.data.CustomerLocation">
        INSERT INTO customerLocation
        (id,
        address,
        longitude,
        latitude)
        VALUES
        (#{customer.id, jdbcType=VARCHAR},
        #{customer.address, jdbcType=VARCHAR},
        #{customer.longitude, jdbcType=FLOAT},
        #{customer.latitude, jdbcType=FLOAT})
    </insert>

    <update id="updateCustomerLocation" flushCache="true">
        UPDATE customerLocation
        SET
        address = #{customer.address, jdbcType=VARCHAR},
        longitude = #{customer.longitude, jdbcType=FLOAT},
        latitude = #{customer.latitude, jdbcType=FLOAT}
        WHERE
        id = #{customer.id, jdbcType=VARCHAR}
    </update>
</mapper>