<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capstone.jmt.mapper.MainMapper">

    <resultMap id="EmergencyContactMap" type="com.capstone.jmt.entity.EmergencyContact">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="contact_name" property="contactName" jdbcType="VARCHAR"/>
        <result column="relationship" property="relationship" jdbcType="VARCHAR"/>
        <result column="contact_no" property="contactNo" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ParentMap" type="com.capstone.jmt.entity.Parent">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="parent_of" property="parentOf" jdbcType="INTEGER"/>
        <result column="relationship" property="relationship" jdbcType="VARCHAR"/>
        <result column="occupation" property="occupation" jdbcType="VARCHAR"/>
        <result column="office_no" property="contactNo" jdbcType="VARCHAR"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="parent_fname" property="parentFName" jdbcType="VARCHAR"/>
        <result column="parent_lname" property="parentLName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="StudentMap" type="com.capstone.jmt.entity.Student">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
        <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
        <result column="middle_name" property="middleName" jdbcType="VARCHAR"/>
        <result column="birth_date" property="bday" jdbcType="DATE"/>
        <result column="place" property="place" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
        <result column="citizenship" property="citizenship" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="contact_no" property="contactNo" jdbcType="VARCHAR"/>
        <result column="emergency_contact" property="emergencyContact" jdbcType="VARCHAR"/>
        <result column="grade_level_id" property="gradeLevelId" jdbcType="INTEGER"/>
        <result column="school_year" property="schoolYear" jdbcType="INTEGER"/>
        <result column="section" property="section" jdbcType="VARCHAR"/>
        <result column="is_old_student" property="isOldStudent" jdbcType="BOOLEAN"/>
        <result column="is_transferee" property="isTransferee" jdbcType="BOOLEAN"/>
        <result column="rfid" property="rfid" jdbcType="VARCHAR"/>
        <result column="is_enrolled" property="isEnrolled" jdbcType="BOOLEAN"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="UserMap" type="com.capstone.jmt.entity.User">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="user_type_id" property="userTypeId" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="last_login" property="lastLogin" jdbcType="TIMESTAMP"/>
        <result column="is_locked" property="isLocked" jdbcType="BOOLEAN"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>