<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capstone.jmt.mapper.MainMapper">

    <resultMap id="LastIdMap" type="com.capstone.jmt.entity.LastId">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="last_id" property="lastId" jdbcType="INTEGER" />
    </resultMap>

    <resultMap id="EmergencyContactMap" type="com.capstone.jmt.entity.EmergencyContact">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="contact_name" property="contactName" jdbcType="VARCHAR"/>
        <result column="relationship" property="relationship" jdbcType="VARCHAR"/>
        <result column="contact_no" property="contactNo" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="GuidanceMap" type="com.capstone.jmt.entity.Guidance">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="teacher_fname" property="firstName" jdbcType="VARCHAR" />
        <result column="teacher_lname" property="lastName" jdbcType="VARCHAR" />
        <result column="position" property="position" jdbcType="VARCHAR" />
        <result column="contact_no" property="contactNo" jdbcType="VARCHAR" />
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP" />
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP" />
        <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="ParentMap" type="com.capstone.jmt.entity.Parent">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="parent_of" property="parentOf" jdbcType="VARCHAR"/>
        <result column="relationship" property="relationship" jdbcType="VARCHAR"/>
        <result column="occupation" property="occupation" jdbcType="VARCHAR"/>
        <result column="contact_no" property="contactNo" jdbcType="VARCHAR"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="parent_fname" property="parentFName" jdbcType="VARCHAR"/>
        <result column="parent_lname" property="parentLName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="StudentMap" type="com.capstone.jmt.entity.Student">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
        <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
        <result column="middle_name" property="middleName" jdbcType="VARCHAR"/>
        <result column="birth_date" property="bday" jdbcType="DATE"/>
        <result column="place" property="place" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
        <result column="citizenship" property="citizenship" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="contact_no" property="contactNo" jdbcType="VARCHAR"/>
        <result column="emergency_contact" property="emergencyContact" jdbcType="VARCHAR"/>
        <result column="grade_level_id" property="gradeLvlId" jdbcType="INTEGER"/>
        <result column="school_year" property="schoolYear" jdbcType="INTEGER"/>
        <result column="section" property="section" jdbcType="VARCHAR"/>
        <result column="is_old_student" property="isOldStudent" jdbcType="BOOLEAN"/>
        <result column="is_transferee" property="isTransferee" jdbcType="BOOLEAN"/>
        <result column="rfid" property="rfid" jdbcType="VARCHAR"/>
        <result column="is_enrolled" property="isEnrolled" jdbcType="BOOLEAN"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="UserMap" type="com.capstone.jmt.entity.User">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="user_type_id" property="userTypeId" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="reference_id" property="referenceId" jdbcType="VARCHAR"/>
        <result column="last_login" property="lastLogin" jdbcType="TIMESTAMP"/>
        <result column="is_locked" property="isLocked" jdbcType="BOOLEAN"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getLastId" resultMap="LastIdMap" resultType="com.capstone.jmt.entity.LastId">
        SELECT * FROM ref_user_ids
        WHERE id = #{id}
    </select>

    <update id="incrementId" flushCache="true">
        UPDATE ref_user_ids
        SET last_id = last_id + 1
        WHERE id = #{id}
    </update>

    <select id="getUserByUsername" resultMap="UserMap" resultType="com.capstone.jmt.entity.User">
        SELECT * FROM data_users
        WHERE username = #{username}
    </select>

    <select id="getUserById" resultMap="UserMap" resultType="com.capstone.jmt.entity.User">
        SELECT * FROM data_users
        WHERE id = #{id}
    </select>

    <select id="getStudent" resultMap="StudentMap" resultType="com.capstone.jmt.entity.Student">
        SELECT * FROM data_students
        WHERE id = #{id}
    </select>

    <select id="getGuidance" resultMap="GuidanceMap" resultType="com.capstone.jmt.entity.Student">
        SELECT * FROM data_guidance
        WHERE id = #{id}
    </select>

    <select id="getParent" resultMap="ParentMap" resultType="com.capstone.jmt.entity.Student">
        SELECT * FROM data_parents
        WHERE id = #{id}
    </select>

    <select id="getEmergencyContact" resultMap="EmergencyContactMap" resultType="com.capstone.jmt.entity.Student">
        SELECT * FROM data_emergency_contact
        WHERE id = #{id}
    </select>

    <delete id="deleteStudentById" flushCache="true">
        DELETE FROM data_students
        WHERE id = #{id}
    </delete>

    <insert id="addStudent" flushCache="true">
        INSERT INTO data_students(
        id, first_name, last_name, middle_name, birth_date, place, gender, citizenship,
        address, contact_no, emergency_contact, grade_level_id, school_year, "section",
        is_old_student, is_transferee, is_enrolled, created_by, rfid)
        VALUES
        (#{student.id, jdbcType=VARCHAR},
        #{student.firstName, jdbcType=VARCHAR},
        #{student.lastName, jdbcType=VARCHAR},
        #{student.middleName, jdbcType=VARCHAR},
        #{student.bday, jdbcType=DATE},
        #{student.place, jdbcType=VARCHAR},
        #{student.gender, jdbcType=INTEGER},
        #{student.citizenship, jdbcType=VARCHAR},
        #{student.address, jdbcType=VARCHAR},
        #{student.contactNo, jdbcType=VARCHAR},
        #{student.emergencyContact, jdbcType=VARCHAR},
        #{student.gradeLvlId, jdbcType=INTEGER},
        #{student.schoolYear, jdbcType=INTEGER},
        #{student.section, jdbcType=VARCHAR},
        #{student.isOldStudent, jdbcType=TINYINT},
        #{student.isTransferee, jdbcType=TINYINT},
        #{student.isEnrolled, jdbcType=TINYINT},
        #{student.rfid, jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateStudent" flushCache="true">
        UPDATE data_students
        SET first_name = #{student.firstName, jdbcType=VARCHAR},
        last_name = #{student.lastName, jdbcType=VARCHAR},
        middle_name = #{student.middleName, jdbcType=VARCHAR},
        birth_date = #{student.bday, jdbcType=DATE},
        place = #{student.place, jdbcType=VARCHAR},
        gender = #{student.gender, jdbcType=INTEGER},
        citizenship = #{student.citizenship, jdbcType=VARCHAR},
        address = #{student.address, jdbcType=VARCHAR},
        contact_no = #{student.contactNo},
        emergency_contact = #{student.emergencyContact, jdbcType=VARCHAR},
        grade_level_id = #{student.gradeLvlId, jdbcType=INTEGER},
        school_year = #{student.schoolYear, jdbcType=INTEGER},
        section = #{student.section, jdbcType=VARCHAR},
        is_old_student = #{student.isOldStudent, jdbcType=TINYINT},
        is_transferee = #{student.isTransferee, jdbcType=TINYINT},
        is_enrolled = #{student.isEnrolled, jdbcType=TINYINT},
        updated_by = #{student.updatedBy, jdbcType=VARCHAR},
        rfid = #{student.rfid, jdbcType=VARCHAR}
        WHERE id = #{student.id, jdbcType=VARCHAR}
    </update>

    <insert id="postAnnouncement" flushCache="true">
        INSERT INTO log_messages(
        posted_by,
        message_type,
        message_target,
        message_content)
        VALUES (
        #{mj.postedBy, jdbcType=VARCHAR},
        #{mj.messageType, jdbcType=INTEGER},
        #{mj.messageTarget, jdbcType=VARCHAR},
        #{mj.messageContent, jdbcType=VARCHAR}
        )
    </insert>

    <resultMap id="TapLogMap" type="com.capstone.jmt.data.TapLog">
        <result column="rfid" property="rfid" jdbcType="VARCHAR" />
        <result column="log_type" property="logType" jdbcType="VARCHAR" />
        <result column="log_datetime" property="logDateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="getLastTapDetails" resultMap="TapLogMap" resultType="com.capstone.jmt.data.TapLog">
        SELECT TOP 1 * FROM log_taps
        WHERE rfid = #{rfid}
        ORDER BY log_datetime DESC
    </select>

    <insert id="addUser" flushCache="true">
        INSERT INTO data_users(
        id, username, password, reference_id, user_type_id,  email, is_locked, created_by
        )
        VALUES
        (
          #{user.id, jdbcType=VARCHAR},
          #{user.username, jdbcType=VARCHAR},
          #{user.password, jdbcType=VARCHAR},
          #{user.referenceId, jdbcType=VARCHAR},
          #{user.userTypeId, jdbcType=INTEGER},
          #{user.email, jdbcType=VARCHAR},
          #{user.isLocked, jdbcType=BOOLEAN},
          #{user.createdBy, jdbcType=VARCHAR}
        )
    </insert>

    <select id="getLastTapDetailsByStudentId" resultMap="TapLogMap" resultType="com.capstone.jmt.data.TapLog">
        SELECT TOP 1 * FROM log_taps
        WHERE rfid =
        (SELECT rfid FROM data_students
        WHERE id = #{studentId})
        ORDER BY log_datetime DESC
    </select>

    <select id="getTapListDetailsByStudentId" resultMap="TapLogMap" resultType="java.util.List">
        SELECT * FROM log_taps
        WHERE rfid =
        (SELECT rfid FROM data_students
        WHERE id = #{studentId})
        ORDER BY log_datetime DESC
    </select>

    <resultMap id="GradeLevelMap" type="com.capstone.jmt.data.RefGradeLevel">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="grade_level" property="gradeLevel" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getGradeLevelList" resultMap="GradeLevelMap" resultType="java.util.List">
        SELECT * FROM ref_grade_level
    </select>

    <insert id="addTeacher" flushCache="true">
        INSERT INTO data_guidance(id, teacher_fname, teacher_lname, position, contact_no, created_by)
        VALUES
        (
        #{guidance.id, jdbcType=VARCHAR},
        #{guidance.firstName, jdbcType=VARCHAR},
        #{guidance.lastName, jdbcType=VARCHAR},
        #{guidance.position, jdbcType=VARCHAR},
        #{guidance.contactNo, jdbcType=VARCHAR},
        #{guidance.createdBy, jdbcType=VARCHAR}
        )
    </insert>
</mapper>